@charset "utf-8";
/* CSS Document */

body {
	overflow-y:scroll;
}

#container {
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
}

#menu {
	position:absolute;
	top:0px;
	left:0px;
	background:#D5C58C;
	width:200px;
	padding:5px;
	border-color:black;
	border-width:1px;
	border-style:solid;
}

#menu a:link, #menu a:visited {
	text-decoration:none;
	color:#000000;
}

#menu a:hover, #menu a:active {
	text-decoration:underline;
	color:#FFFFFF;
}


#menu .main {
	font-size:17px;
}

#menu .sub {
	position:relative;
	left:10px;
	font-size:16px;
	display:none;
}

#searchIcon {
	cursor:pointer;
	position:relative;
	top:4px;
	margin:2px;
}

#menu input {
	width:170px;
}

#progressBar {
	position:relative;
	width:165px;
	height:8px;
	margin:4px;
}

#statusText {
	position:relative;
	width:165px;
	margin:4px;
	text-align:center;
	font-size:13px;
}

#displayStyle {
	position:relative;
	width:165px;
	margin:4px;
	text-align:center;
	font-size:13px	;
}

.bookIcon {
	position:relative;
	margin:5px;
	float:left;
	text-align:center;
	overflow:hidden;
	border:1px solid black;
	background:#D5C58C;
}

.bookIcon img {
	position:relative;
	top:36px;

}

.bookIconText {
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	overflow:hidden;
	position:absolute;
	top:0px;
	padding:2px;
	color:black;
	text-decoration:none;
}

#pageList {
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	padding:5px;
}

#content {
	position:absolute;
	left:215px;
	height:600px;
	top:0px;
	overflow:auto;
}

